site_name: Litelines

repo_url: https://github.com/alonsosilvaallende/litelines
repo_name: alonsosilvaallende/litelines

theme:
  name: material
  features:
    - content.code.copy
    - content.code.select

plugins:
  - search
  - mkdocstrings

nav:
  - Getting Started: getting-started.md
  - Installation: installation.md
  - reference.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

copyright: Copyright &copy; 2025 - The Litelines Developers
